<%= link_to 'About', about_path %>

<h1<form>  <input type=”button” onClick=”document.bgColor=’RED'” value=” RED “> <input type=”button” onClick=”document.bgColor=’YELLOW'” value=” YELLOW “> <input type=”button” onClick=”document.bgColor=’PINK'” value=” PINK “> </form> >This is home pages</h1>

<ul>
    <li> Section 1</li>
    <li> Section 2</li>
</ul>


<a href="http://easy-html-tutorials.tumblr.com/"><img id="logo" src="http://static.tumblr.com/wledccc/PSgmrwvg7/screen_shot_2013-08-21_azat_7.09.42_pm.png" height="45px"><link rel="stylesheet" type="text/css" href="http://static.tumblr.com/wledccc/xlimrwvpr/code.css"></a>
