$navbar-default-bg: yellow;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    font-size: i.7em;
    color: black;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}